.wrapper {
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-container-left,
.header-container-middle,
.header-container-right {
    width: 100%;
}

.header-container-left {
    display: flex;
    align-items: center;
}

.header-container-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.divider {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    border: none;
    margin: 0px 12px;
}

.logo {
    max-width: 109px;
}

.searchbar {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    outline: none;
    text-align: center;
    background-color: #FAFAFA;
    color: #979797;
    font-weight: 400;
    font-size: 12px;
    height: 28px;
    width: 215px;
}

.searchbar:hover {
    border-color: #979797;
}

.icon-spacing-left {
    margin: 0px 7px 0px 14px;
}
.icon-spacing-right {
    margin: 0px 14px 0px 7px;
}

.content-container {
    max-width: 935px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.left-content {
    max-width: 640px;
    width: 100%;
}

.right-content {
    max-width: 293px;
    width: 100%;
}

.posts-wrapper {
    border: 1px solid #dbdbdb;
    background-color: #FFF;
    max-width: 614px;
    width: 100%;
}

.upper-post-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 17px
}

.profile-desc {
    display: flex;
    align-items: center;
}

.image-wrapper img {
    border-radius: 50%;
    width: 32px;
    cursor: pointer;
    margin-right: 10px;
}

.name-wrapper a {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}

.post-content img{
    width: 100%;
}

.bottom-post-infos {
    padding: 10px 17px;
}

.icons-post-infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-post-infos .middle {
    margin: 0px 10px;
}

.liked-by-infos {
    display: flex;
    margin-top: 5px;
}

.liked-by-image {
    margin-right: 5px;
    cursor: pointer;
}

.liked-by-desc span {
    color: #000;
    font-size: 500;
    font-size: 14px;
    cursor: pointer;
}

.post-gap {
    margin-top: 60px;
}
